<!DOCTYPE html>
<html lang='en' onselectstart="return false" oncontextmenu="return false">
<head>
<meta charset='utf-8' />
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
<div class="wrap">
  <div id="details" style="display: none">test testtest</div>
  <ul id="box"></ul>

  <div class="mask">
    <div class="bg-mask"></div>

  </div>
</div>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/theme.js"></script>

</body>
</html>